# Python Microservice
PYTHON_SERVICE_URL=http://localhost:8000
PYTHON_SERVICE_TIMEOUT=300

# Ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=qwen2:7b

# PaddleOCR
PADDLE_USE_GPU=false
PADDLE_DET_DB_THRESH=0.3